rofi.color-enabled: true
rofi.color-window: #002b37, #002b37, #003642
rofi.color-normal: #002b37, #819396, #002b37, #003642, #819396
rofi.color-active: #002b37, #008ed4, #002b37, #003642, #008ed4
rofi.color-urgent: #002b37, #da4281, #002b37, #003642, #da4281

URxvt.font: xft:Terminus:size=14

! vim: set filetype=xdefaults :
URxvt.foreground: #D7D0C7
URxvt.background: #151515

!URxvt.background: #232323
!URxvt.foreground: #A0A0A0

URxvt.colorBD:    #CFCFCF
URxvt.colorUL:    #A0A0A0
URxvt.colorIT:    #686868

!BLK
URxvt.color0:     #303030
URxvt.color8:     #686868

!RED
URxvt.color9:     #FF6666
URxvt.color1:     #E60000

!GRN
URxvt.color10:    #A3D572
URxvt.color2:     #6D9E3F

!BLU
URxvt.color12:    #4FA6FC
URxvt.color4:     #6095C5

!YEL
URxvt.color11:    #EFBD8B
URxvt.color3:     #B58858

!CYN
URxvt.color14:    #75DAA9
URxvt.color6:     #3BA275

!MAG
URxvt.color13:    #E5B0FF
URxvt.color5:     #AC7BDE

!WHT
URxvt.color7:     #CFCFCF
URxvt.color15:    #FFFFFF

URxvt*borderColor:        #151515
URxvt*colorBD:            #ffffff
URxvt*cursorColor:        #ff8939
URxvt*cursorColor2:       #151515

URxvt*scrollBar_right:        true
URxvt*scrollColor:        #151515

